<div class="toolbar" role="banner">
<nav class="navbar navbar-dark bg-dark" style="background-color: black;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a active class="navbar-brand" [routerLink]="['dashboard']">Stock Market App</a>
        </div>
        <ul class="nav navbar-nav">            
            <li><a [routerLink]="['add-company']">Add Company</a></li>
            <li><a [routerLink]="['view-company']">List all Companies</a></li>

        </ul>
    </div>
</nav>
</div>
<div class="container">   
    <router-outlet></router-outlet>
</div>

